@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PermanentMarker";
  src: local("PermanentMarker-Regular"), url("./assets/fonts/PermanentMarker-Regular.ttf");
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

body {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

label {
  cursor: pointer;
}
